.heading {
  position:absolute;
  float: left;
}

.preview {
  background: url(../Fashion_Blog_part2.png);
  background-repeat: no-repeat;
}

section nav{
  position: relative;
  float:left;
  background:black;
  color:white;
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
}
